/*
 * Design Tokens
 *
 */

// 001 Color Design Tokens
/*************************/
// Brand Color Design Tokens
@import "../01_DesignTokens/021_Color/01_BrandColors/BrandColors";

// Action Color Design Tokens
@import "../01_DesignTokens/021_Color/02_ActionColors/ActionColors";

// Gradient Design Tokens
@import "../01_DesignTokens/021_Color/03_Gradients/Gradients";

// Opacity Design Tokens
@import "../01_DesignTokens/021_Color/04_Opacity/Opacity";

// Shade Design Tokens
@import "../01_DesignTokens/021_Color/05_Shades/Shades";

// Tint Design Tokens
@import "../01_DesignTokens/021_Color/06_Tints/Tints";

// 002 Typography Design Tokens
/******************************/
// Typeface Design Tokens
@import "../01_DesignTokens/022_Typography/01_Typefaces/Typefaces";

// Font Size Design Tokens
@import "../01_DesignTokens/022_Typography/02_FontSizes/FontSizes";

// Font Weight Design Tokens
@import "../01_DesignTokens/022_Typography/03_FontWeights/FontWeights";

// Leading Design Tokens
@import "../01_DesignTokens/022_Typography/04_Leading/Leading";

// Tracking Design Tokens
@import "../01_DesignTokens/022_Typography/05_Tracking/Tracking";

// 003 Icons Design Tokens
/*******************************/
// Icon Size Design Tokens
@import "../01_DesignTokens/023_Icons/01_IconSizes/IconSizes";

// 004 Layout Design Tokens
/**************************/
// Breakpoint Design Tokens
@import "../01_DesignTokens/024_Layout/01_Breakpoints/Breakpoints";

// Wrapper Design Tokens
@import "../01_DesignTokens/024_Layout/02_Wrappers/Wrappers";

// Spacing Design Tokens
@import "../01_DesignTokens/024_Layout/03_Spacing/Spacing";

// Layer Design Tokens
@import "../01_DesignTokens/024_Layout/04_ZLayers/ZLayers";

// 005 Peripheral Design Tokens
/******************************/
// Border Design Tokens
@import "../01_DesignTokens/025_Peripherals/01_Borders/Borders";

// Shadow Design Tokens
@import "../01_DesignTokens/025_Peripherals/02_Shadows/Shadows";

// Radii Design Tokens
@import "../01_DesignTokens/025_Peripherals/03_Radii/Radii";

// 006 Motion Design Tokens
/**************************/
// Transition Design Tokens
@import "../01_DesignTokens/026_Motion/01_Transitions/Transitions";

// Keyframe Animation Design Tokens
@import "../01_DesignTokens/026_Motion/02_KeyframeAnimations/KeyframeAnimations";
