/*
 * Main Styles File
 *
 * Imported in `./gatsby-browser.js` for Gatsby Build
 * Imported in `.storybook/preview.js` for Storybook Build
 */

// CSS Reset
@import "../10_Styles/01_CSSReset";

// Accessibility Utilities
@import "../10_Styles/02_Accessibility";

// Design Tokens
@import "../10_Styles/03_DesignTokens";

// Global (Root and Body)
@import "../10_Styles/04_Global";

// Typography Styles
@import "../02_Typography/Typography";

// Atom Styles
@import "../03_Atoms/Icon/Icon";
@import "../03_Atoms/Button/Button";
@import "../03_Atoms/ExLink/ExLink";
@import "../03_Atoms/Figure/Figure";
@import "../03_Atoms/InLink/InLink";
@import "../03_Atoms/NavLink/NavLink";
@import "../03_Atoms/SkipLink/SkipLink";

// Molecule Styles
@import "../04_Molecules/MenuDesktop/MenuDesktop";
@import "../04_Molecules/MenuMobile/MenuMobile";

// Organism Styles
@import "../05_Organisms/Footer/Footer";
@import "../05_Organisms/Header/Header";

// Template Styles
@import "../06_Templates/MainLayout/MainLayout";
@import "../06_Templates/PageTemplate/PageTemplate";
@import "../06_Templates/PostTemplate/PostTemplate";
