/*
 * Button Component Styles
 *
 */

button,
.button {
    display: inline-block;
    border: border(default);
    font-family: typeface(rubik);
    font-weight: font-weight(bold);
    font-size: font-size(cm);
    color: brand-color(midnight);
    background: brand-color(gold);
    padding: spacing(m) spacing(l);
    transition: background-color transition(ease-in-out);
    -webkit-appearance: none;
    -moz-appearance: none;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    line-height: 1;
    margin: 0 spacing(m) 0 0;

    &:active {
        transform: scale(1);
    }

    &:hover,
    &:focus {
        background: tint(brand-color(gold), t40);
    }

    &--delete {
        background: tint(action-color(error), t40);

        &:hover,
        &:focus {
            background: tint(action-color(error), t60);
        }
    }

    &--add {
        background: tint(action-color(success), t40);

        &:hover,
        &:focus {
            background: tint(action-color(success), t60);
        }
    }
}
